@mixin font {
    font-family: Lato, sans-serif;
}

%catRadiUS {
    border-radius: 3px;
}

$MainColor: #222224;
$MainPink :#F16D7F;
$TextWhite: #FBFBFB;
//REGISTRATION, CATALOG//
$Header-Pink: #F8F3F4;
//REGISTRATION, CATALOG//

html,
body {
    height: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    outline: none;
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex-grow: 1;
}

.wrap {
    max-width: 1140px;
    margin: 0 auto;
}

.nav__main {
    height: 75px;
    background-color: $MainColor;

    &__box {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;

        &__left {
            display: flex;

            &>li {
                margin-right: 41px;
                display: flex;
                align-items: flex-end;
            }
        }

        &__search {

            &_input {
                @include font();
                font-size: 18px;
                visibility: hidden;
                margin-left: 10px;
                height: 70%;
                border-radius: 5px;
                background-color: transparent;
                color: #d88c96;
                border: 2px solid $MainPink;
                outline: none;
            }

            &:hover &_input {
                visibility: visible;
                transition: 0.2s;
            }
        }

        &__right {
            display: flex;

            &>li {
                margin-left: 33px;
                display: flex;
                align-items: flex-end;
            }
        }

    }

    &_reg-icon:hover svg {
        fill: $MainPink;
    }
}

.nav__menu {
    position: relative;
    bottom: -14px;
    padding-bottom: 14px;

    &:hover {
        .nav__menu__burg {
            display: block;
        }
    }

    &__burg {
        @extend %catRadiUS;
        display: none;
        width: 232px;
        position: absolute;
        z-index: 1;
        top: 38px;
        left: -52px;
        padding: (35px - 12px) 34px;
        box-sizing: border-box;
        background: #FFFFFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);

        &::before {
            content: "";
            display: block;
            background: white;
            position: absolute;
            width: 10px;
            height: 10px;
            top: -5px;
            left: 63px;
            transform: rotate(45deg);
        }

        &>a {
            float: right;
        }
    }
}

%option-burg-text {
    @include font();
    font-size: 14px;
    line-height: 17px;
}

.burg_mh {
    clear: both;
    margin-bottom: 24px;
    font-weight: 700;
    @extend %option-burg-text;
}

.burg_h {
    margin-bottom: 12px;
    font-weight: 400;
    color: $MainPink;
    @extend %option-burg-text;
}

.burg__li {

    &>li {
        margin-bottom: 11px;
        padding-left: 20px;

        &>a {
            font-weight: 400;
            color: #6F6E6E;
            @extend %option-burg-text;
            text-decoration: none;

            &:hover {
                color: $MainPink;
                transition: 0.2s;
            }
        }

        &:last-child {
            margin-bottom: 20px;
        }
    }

}

.banner {
    height: 764px;
    background-color: #F1E4E6;
    //FIXME: Add video
    // &__video {
    //     position: fixed;
    //     z-index: -1;
    //     height: 100%;
    // }

    &__box {
        height: inherit;
        display: flex;
        justify-content: space-between;

        &__slogan {
            height: 92px;
            margin-top: 290px;
            margin-right: 100px;
            display: flex;
            align-items: center;

            &-elem {
                margin-right: 16px;
                width: 12px;
                height: 100%;
                background-color: #F16D7F;
            }

            &_text {
                @include font();
                color: #222222;
                line-height: 38px;
                font-weight: 900;
                font-size: 46px;

                &--small {
                    font-weight: 700;
                    font-size: 32px;
                }

                &--pink {
                    color: $MainPink;
                }
            }
        }
    }
}

$Quantity-offers__block: 4;

.offers {
    margin: 65px auto (96px - 30px);
    display: flex;
    flex-wrap: wrap;

    &__block {
        @extend %catRadiUS;
        position: relative;
        margin-right: 30px;
        flex: 1 1 (100% / $Quantity-offers__block);
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #C4C4C4;

        &:last-child,
        &:nth-child(3) {
            margin-right: 0px
        }

        &>img {
            width: 100%;
            @extend %catRadiUS;
        }

        &_row {
            position: absolute;
            @include font();
            text-decoration: none;
            text-align: center;

            &_text {
                font-weight: 400;
                font-size: 16px;
                color: #FFFFFF;
                line-height: 19px;
            }

            &_h {
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                color: $MainPink;
            }
        }
    }
}

.products {
    &__description {
        @include font();
        text-align: center;
        font-weight: 400;

        &__h {
            margin-bottom: 6px;
            color: $MainColor;
            font-size: 30px;
            line-height: 36px;
        }

        &__text {
            font-size: 14px;
            line-height: 17px;
            color: #9F9F9F;
        }
    }

    &__box {
        margin: 48px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &_item {
            @extend %catRadiUS;
            background-color: #F8F8F8;
            margin-bottom: 30px;
            width: 360px;

            &:hover {
                box-shadow: 0px 0px 10px #ccc, 0px 0px 10px #ccc;
                transition: 0.2s;
            }

            &:hover .wrap-flex>img {
                filter: brightness(0.5);
                opacity: 0.5;
                transition: 0.2s;
            }

            &:hover .wrap-flex_btn {
                display: flex;
            }

            &_description {
                color: initial;
                padding: 25px 16.50px 28px 20px;
                @include font();
                font-weight: 400;
            }

            &_link {
                text-decoration: none;
            }

            &:hover .products__box_item_h {
                padding: 0 5px;
                box-shadow: inset 0 0 1px rgb(255, 255, 255), inset 0 0 1px rgb(255, 255, 255);
                background-color: lighten($MainPink, 15);
                transition: all 0.8s;
            }

            .products__box_item_h::after {
                margin-left: 10px;
                font-size: 17px;
                content: "<<<";
                color: $TextWhite;
                @include font();
            }

            &_h {
                width: max-content;
                border-radius: 3px;
                color: #222222;
                line-height: 16px;
                font-size: 13px;
                line-height: 16px;
            }

            &_text {
                padding: 13px 0 18px;
                font-size: 14px;
                color: #5D5D5D;
                font-weight: 300;
                line-height: 17px;
            }

            &_price {
                font-size: 16px;
                line-height: 19px;
                color: $MainPink;
            }
        }
    }

    &_bnt {
        padding: 15px 39px;
        margin: 0 auto;
        width: 212px;
        display: block;
        outline: 1px solid #FF6A6A;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        box-sizing: border-box;
        color: #F26376;
        text-decoration: none;
        @include font();

        &:hover {
            background-color: #FF6A6A;
            color: $TextWhite;
            transition: 0.3s;
            box-shadow: 0 0 5px #b86464;
            transform: scale(1.03);
        }
    }
}

.wrap-flex {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px 3px 0 0;
    background-color: rgba(58, 56, 56, 0.86);

    &>img {
        border-radius: 3px 3px 0 0;
    }

    .wrap-flex_btn {
        display: none;
        position: absolute;
        padding: 11.3px 13.5px;
        border: 1px solid white;
        background-color: initial;
        justify-content: center;
        cursor: pointer;
        align-items: center;
        box-sizing: border-box;
        @include font();
        margin-left: 11px;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;

        &:hover {
            transform: scale(1.03);
            box-shadow: inset 0 0 7px white;
            transition: 0.2s;
        }

        &>img {
            margin-right: 11px;
            width: 26px;
            height: 24px;
        }
    }

}

.advantages {
    margin-top: 95px;
    padding: 103px 0;
    background-color: $MainColor;
    @include font();

    &__box {
        display: flex;
        text-align: center;
    }
}

.advant__item--img {
    height: 40px;
}

.advant__item_h {
    padding: 19px 0 16px;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: $TextWhite;
}

.advant__item_text {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    color: $TextWhite;
}

$Padding-top-info__bottom: 97px;

.feedback {
    padding: $Padding-top-info__bottom 0 155px;
    background-color: #F4F4F4;
    background-image: url(../image/beach.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;

    &-box {
        display: flex;
        justify-content: space-between;
    }
}

.author {
    @include font();
    text-align: center;
}

.author_text {
    width: 360px;
    padding-top: 30px;
    display: block;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: $MainColor;

    &>em {
        font-style: italic;
    }
}

.subscribe {
    margin-top: 150px - $Padding-top-info__bottom;
    width: 356px;
    @include font();
    color: $MainColor;
    line-height: 167.2%;
    text-align: center;

    &_h {
        font-weight: 700;
        font-size: 24px;
    }

    &_text {
        margin-bottom: 32px;
        font-weight: 400;
        font-size: 18px;
    }

    &-box {
        @include font();
        height: 49px;
        display: flex;

        &>button {
            cursor: pointer;
            width: 100px;
            background-color: $MainPink;
            color: $TextWhite;
            border-radius: 0 20px 20px 0;
            border-color: transparent;

            &:hover {
                border-radius: 2px 20px 20px 2px;
                box-shadow: 5px 3px 3px #7c313bc4, 4px -3px 3px #7c313bc4;
                transition: 0.2s;
                transform: scale(1.05);
            }
        }

    }

    &_input {
        padding-left: 22px;
        width: 256px;
        background: #E1E1E1;
        border-radius: 20px 0 0 20px;
        font-size: 14px;
        opacity: 0.7;
        outline: none;
        border-color: transparent;
        box-sizing: border-box;

        &:hover {
            box-shadow: inset 6px 4px 3px rgb(134, 66, 66);
            transition: 0.2s;
        }

        &::placeholder {
            @include font();
        }

        &:hover::placeholder {
            color: transparent;
            text-shadow: 5px 3px 1px #7c313bc4;
            transition: 0.2s;
        }
    }


}

.footer {
    padding: 30px 0;
    background-color: $MainColor;

    &-box {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &_copyright {
        @include font();
        color: $TextWhite;
    }
}

.media {
    display: flex;

    &_icon {
        width: 32px;
        height: 32px;
        background-color: $TextWhite;
        margin-left: 7.3px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border-radius: 4px;

        &:hover {
            background-color: $MainPink;
            fill: #E1E1E1;
            transition: all 0.3s;
        }

        &:hover>svg {
            fill: white;
            transition: all 0.3s;
        }
    }
}

//REGISTRATION//

.breadcrumb {

    &_bg {
        padding: 60px 0;
        background-color: $Header-Pink;
    }

    &__h {
        @include font();
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: $MainPink;
    }

}

.wrap__reg {
    padding: 64px 0 96px;
    display: flex;

    &_feedback {
        flex-shrink: 0;
        width: 360px;
        @include font();
    }

    &_heading {
        font-weight: 300;
        font-size: 18px;
        line-height: 19px;
        color: #222222;
    }

    &_input {
        outline: none;
        border: 1px solid #A4A4A4;
        display: block;
        padding: 16px;
        width: 100%;
        margin-top: 20px;
        box-sizing: border-box;

        &::placeholder {
            @include font();
            font-weight: 300;
            font-size: 14px;
            color: #B1B1B1;
        }
    }

    &_text {
        margin-top: 15px;
        @include font();
        font-weight: 300;
        font-size: 13px;
        color: #B1B1B1;
    }

    &_btn {
        @extend %catRadiUS;
        margin-top: 39px;
        padding: 16px 29px;
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;
        border: none;
        background-color: $MainPink;
        cursor: pointer;

        &:hover {
            background-color: lighten($MainPink, 5);
        }
    }

    &_advant {
        margin-left: 128px;
        @include font();
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #000000;

        &__h {}

        &_text {
            margin: 22px 0 21px;
        }

        &_list {
            margin-bottom: 16px;

            &::before {
                content: url(../image/check_mark.svg);
                margin-right: 23px;
            }
        }
    }

}

.feedback__gender {
    margin: 31px 0 33px;
    @include font();
    font-weight: 300;
    line-height: 13px;
    color: #000000;
}

.radio_margin_right {
    margin-right: 20px;
}

.fa-solid {
    margin-left: 20px;
}

//REGISTRATION//

//PRODUCT//

//PRODUCT//

@media (max-width:1190px) {
    .wrap {
        max-width: 100%;
        padding: 0 16px;
    }
}

@media (max-width:1000px) {

    .banner {
        height: 367px;

        &__box_img {
            margin-left: 78px;
        }

        &__box__slogan {
            margin-top: 146px;
            margin-right: 10px;
        }

        &__box__slogan_text {
            font-size: 44px;
            line-height: 32px;

            &--small {
                font-size: 24px;
                line-height: 29px;
            }
        }
    }

    .offers {
        margin: 20px auto (154px - 30px);
    }
}