@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrap__reg_btn, .wrap__reg_input, .wrap-flex_btn, .products__box_item, .offers__block > img, .offers__block {
  border-radius: 3px;
}

html,
body {
  height: 100%;
}

*::-moz-selection {
  background-color: #f59ca8;
  color: white;
}

*::selection {
  background-color: #f59ca8;
  color: white;
}

body {
  outline: none;
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex-grow: 1;
}

.wrap {
  max-width: 1140px;
  margin: 0 auto;
}

.nav__main {
  position: fixed;
  width: 100%;
  z-index: 100;
  height: 75px;
  background-color: #222224;
}
.nav__main__box {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.nav__main__box__left {
  display: flex;
}
.nav__main__box__left > li {
  margin-right: 41px;
  display: flex;
  align-items: flex-end;
}
.nav__main__box__search_input {
  font-family: Lato, sans-serif;
  font-size: 18px;
  opacity: 0;
  margin-left: 10px;
  padding: 10px;
  height: 30px;
  width: 160px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: white;
  transition: 0.2s;
}
.nav__main__box__search:hover .nav__main__box__search_input {
  opacity: 1;
}
.nav__main__box__right {
  display: flex;
}
.nav__main__box__right > li {
  margin-left: 33px;
  display: flex;
  align-items: flex-end;
}
.nav__main_reg-icon:hover svg {
  fill: #F16D7F;
}

.icon-logo {
  transition: all 1s ease;
}
.icon-logo:hover {
  transform: rotate(360deg);
}

.nav__menu {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.menu__burg {
  height: 764px;
  width: 232px;
  position: fixed;
  z-index: 999;
  top: 75px;
  right: -233px;
  padding: 37px 34px;
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  border-radius: 0 0 0 10px;
  transition: all 0.8s;
}
.menu__burg_crest {
  padding: 0;
  border: 0;
  height: 13px;
  background-color: transparent;
  position: absolute;
  cursor: pointer;
  top: 16px;
  right: 16px;
}
.menu__burg_main-icon {
  display: none;
  margin-bottom: 10px;
  flex-wrap: wrap;
  row-gap: 10px;
  justify-content: space-between;
}
.menu__burg_main-icon svg {
  fill: #6F6E6E;
}
.menu__burg_main-icon::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #F16D7F;
}

.active {
  right: 0px;
}

.burg__li > li > a, .burg_h, .burg_mh {
  font-family: Lato, sans-serif;
  font-size: 14px;
  line-height: 17px;
}

.burg_mh {
  margin-bottom: 24px;
  font-weight: 700;
}

.burg_h {
  margin-bottom: 12px;
  font-weight: 400;
  color: #F16D7F;
  transition: all 0.5s;
}
.burg_h:hover {
  padding-left: 5px;
  padding-right: 5px;
  border-left: 3px solid #f592a0;
  border-right: 3px solid #f592a0;
  letter-spacing: 1px;
}
.burg_h--link {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-decoration: none;
}
.burg_h--link:hover + ol > li {
  box-shadow: 0 3px rgb(255, 217, 217);
}

.burg__li > li {
  margin-bottom: 11px;
  padding-left: 20px;
  border-radius: 4px;
  transition: all 1s;
}
.burg__li > li:hover {
  box-shadow: 0 3px rgb(255, 217, 217);
}
.burg__li > li:hover a {
  transform: translate(10px);
  color: rgb(71, 63, 73);
  letter-spacing: 1px;
}
.burg__li > li > a {
  display: block;
  font-weight: 400;
  color: #6F6E6E;
  text-decoration: none;
  transition: all 0.2s, transform 0.6s;
}
.burg__li > li:last-child {
  margin-bottom: 20px;
}

.banner {
  margin-top: 75px;
  overflow: hidden;
  position: relative;
  height: 764px;
}
.banner__video {
  outline: none;
  margin: auto;
  position: absolute;
  z-index: -9999;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
}
.banner__box {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.banner__box_img {
  height: 100%;
}
.banner__box__slogan {
  height: 92px;
  margin-top: 290px;
  margin-right: 100px;
  display: flex;
  align-items: center;
}
.banner__box__slogan-elem {
  margin-right: 16px;
  width: 12px;
  height: 100%;
  background-color: #F16D7F;
}
.banner__box__slogan_text {
  font-family: Lato, sans-serif;
  color: #222222;
  line-height: 38px;
  font-weight: 900;
  font-size: 46px;
}
.banner__box__slogan_text--small {
  font-weight: 700;
  font-size: 32px;
}
.banner__box__slogan_text--pink {
  color: #F16D7F;
}

.offers {
  margin: 65px auto 66px;
  display: flex;
  flex-wrap: wrap;
}
.offers__block {
  position: relative;
  margin-right: 30px;
  flex: 1 1 25%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C4C4C4;
  transition: all 0.3s;
}
.offers__block:hover {
  transform: scale(1.01);
}
.offers__block:last-child, .offers__block:nth-child(3) {
  margin-right: 0px;
}
.offers__block > img {
  width: 100%;
}
.offers__block_row {
  position: absolute;
  font-family: Lato, sans-serif;
  text-decoration: none;
  text-align: center;
}
.offers__block_row_text {
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 19px;
}
.offers__block_row_h {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.products__description {
  font-family: Lato, sans-serif;
  text-align: center;
  font-weight: 400;
}
.products__description__h {
  margin-bottom: 6px;
  color: #222224;
  font-size: 30px;
  line-height: 36px;
}
.products__description__text {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}
.products__box {
  margin: 48px 0;
  display: flex;
  justify-content: space-between;
  row-gap: 30px;
  flex-wrap: wrap;
}
.products__box_item {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #F8F8F8;
  width: 360px;
  transition: all 0.3s;
}
.products__box_item:hover {
  transform: scale(1.008);
  box-shadow: 0px 0px 10px #ccc, 0px 0px 10px #ccc;
}
.products__box_item:hover .wrap-flex > img {
  filter: brightness(0.5);
  opacity: 0.5;
  transition: 0.3s;
}
.products__box_item:hover .wrap-flex_btn {
  opacity: 1;
}
.products__box_item:hover .products__box_item_h {
  padding: 0 90px;
  box-shadow: inset 0 0 1px rgb(255, 255, 255), inset 0 0 1px rgb(255, 255, 255);
  background-color: #facad1;
}
.products__box_item:hover::before {
  font-size: 17px;
  opacity: 1;
}
.products__box_item:hover::after {
  font-size: 17px;
  opacity: 1;
}
.products__box_item:hover .products__box_item_text {
  word-spacing: 8px;
  padding: 0 5px 0 0;
  box-shadow: inset 0 0 1px rgb(255, 255, 255), inset 0 0 1px rgb(255, 255, 255);
  background-color: #fce1e5;
}
.products__box_item_description {
  color: initial;
  padding: 25px 16.5px 28px 20px;
  font-family: Lato, sans-serif;
  font-weight: 400;
}
.products__box_item_link {
  text-decoration: none;
}
.products__box_item_h {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 3px;
  color: #222222;
  line-height: 16px;
  font-size: 13px;
  line-height: 16px;
  transition: all 1s;
}
.products__box_item_h::after {
  opacity: 0;
  position: absolute;
  right: 20px;
  font-size: 1px;
  content: ">>>>>";
  color: #FBFBFB;
  font-family: Lato, sans-serif;
  transition: all 2s;
}
.products__box_item_h::before {
  opacity: 0;
  position: absolute;
  left: 20px;
  font-size: 1px;
  content: "<<<<<";
  color: #FBFBFB;
  font-family: Lato, sans-serif;
  transition: all 2s;
}
.products__box_item_text {
  border-radius: 3px;
  margin: 13px 0 18px;
  font-size: 14px;
  color: #5D5D5D;
  font-weight: 300;
  line-height: 17px;
  transition: all 1s;
}
.products__box_item_price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}
.products_bnt {
  padding: 15px 39px;
  margin: 0 auto;
  width: 212px;
  display: block;
  outline: 1px solid #FF6A6A;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  box-sizing: border-box;
  color: #F26376;
  text-decoration: none;
  font-family: Lato, sans-serif;
  transition: background-color 0.3s, color 0.3s, border-radius 2s;
}
.products_bnt:hover {
  background-color: #FF6A6A;
  color: #FBFBFB;
  transform: scale(1.02);
  transition: transform 0.3s;
  border-radius: 3px;
}

.wrap-flex {
  display: flex;
  border-radius: 4px 4px 0 0;
  background-color: rgba(58, 56, 56, 0.86);
  transition: all 0.3s;
}
.wrap-flex > img {
  border-radius: 3px 3px 0 0;
  transition: all 0.3s;
}

.wrap-flex_btn {
  position: absolute;
  top: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  opacity: 0;
  padding: 11.3px 13.5px;
  border: 1px solid white;
  background-color: initial;
  cursor: pointer;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  transition: all 0.3s;
}
.wrap-flex_btn:hover {
  background-color: hsla(0deg, 100%, 86%, 0.199);
  box-shadow: inset 0 0 23px #F16D7F;
  transform: scaleX(1.03);
  box-shadow: inset 0 0 7px white;
}
.wrap-flex_btn:active {
  background-color: hsla(0deg, 100%, 86%, 0.199);
  transform: scale(0.99);
  box-shadow: inset 0 0 10px #F16D7F;
  transition: all 0.1s;
}
.wrap-flex_btn > img {
  margin-right: 11px;
  width: 26px;
  height: 24px;
}

.advantages {
  margin-top: 95px;
  padding: 103px 0;
  background-color: #222224;
  font-family: Lato, sans-serif;
}
.advantages__box {
  display: flex;
  text-align: center;
}

.advant__item--img {
  height: 40px;
}

.advant__item_h {
  padding: 19px 0 16px;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
}

.advant__item_text {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  color: #FBFBFB;
}

.feedback {
  padding: 97px 0 126px;
  background-color: #F4F4F4;
  background-image: url(../image/beach.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
}
.feedback-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.author {
  font-family: Lato, sans-serif;
  text-align: center;
}

.author_text {
  width: 360px;
  padding-top: 30px;
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #222224;
}
.author_text > em {
  font-style: italic;
}

.subscribe {
  margin-right: 97px;
  width: 356px;
  font-family: Lato, sans-serif;
  color: #222224;
  line-height: 167.2%;
  text-align: center;
  align-items: end;
}
.subscribe_h {
  font-weight: 700;
  font-size: 24px;
}
.subscribe_text {
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 18px;
}
.subscribe-box {
  font-family: Lato, sans-serif;
  height: 49px;
  display: flex;
}
.subscribe-box > button {
  cursor: pointer;
  width: 100px;
  background-color: #F16D7F;
  color: #FBFBFB;
  border-radius: 0 20px 20px 0;
  border-color: transparent;
  transition: all 0.2s;
}
.subscribe-box > button:hover {
  border-radius: 2px 20px 20px 2px;
  box-shadow: 5px 3px 3px rgba(124, 49, 59, 0.768627451), 4px -3px 3px rgba(124, 49, 59, 0.768627451);
  transform: scale(1.05);
}
.subscribe_input {
  padding-left: 22px;
  width: 256px;
  background: #E1E1E1;
  border-radius: 20px 0 0 20px;
  font-size: 14px;
  opacity: 0.7;
  outline: none;
  border-color: transparent;
  box-sizing: border-box;
  transition: all 0.2s;
}
.subscribe_input:hover {
  box-shadow: inset 6px 4px 3px rgb(134, 66, 66);
}
.subscribe_input::-moz-placeholder {
  font-family: Lato, sans-serif;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.subscribe_input:-ms-input-placeholder {
  font-family: Lato, sans-serif;
  -ms-transition: 0.2s;
  transition: 0.2s;
}
.subscribe_input::placeholder {
  font-family: Lato, sans-serif;
  transition: 0.2s;
}
.subscribe_input:hover::-moz-placeholder {
  color: transparent;
  text-shadow: 5px 3px 1px rgba(124, 49, 59, 0.768627451);
}
.subscribe_input:hover:-ms-input-placeholder {
  color: transparent;
  text-shadow: 5px 3px 1px rgba(124, 49, 59, 0.768627451);
}
.subscribe_input:hover::placeholder {
  color: transparent;
  text-shadow: 5px 3px 1px rgba(124, 49, 59, 0.768627451);
}

.footer {
  padding: 24px 0;
  background-color: #222224;
}
.footer-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_copyright {
  font-family: Lato, sans-serif;
  color: #FBFBFB;
}

.media {
  display: flex;
}
.media_icon {
  width: 32px;
  height: 32px;
  background-color: #FBFBFB;
  margin-left: 7.3px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 4px;
  transition: all 0.3s;
}
.media_icon > svg {
  transition: all 0.3s;
}
.media_icon:hover {
  background-color: #F16D7F;
  fill: #E1E1E1;
}
.media_icon:hover > svg {
  fill: white;
}

.second-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.second-header_bg {
  margin-top: 75px;
  padding: 60px 0;
  background-color: #F8F3F4;
}
.second-header__h {
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.wrap__reg {
  padding: 64px 0 96px;
  display: flex;
}
.wrap__reg_feedback {
  flex-shrink: 0;
  width: 360px;
  font-family: Lato, sans-serif;
}
.wrap__reg_heading {
  font-weight: 300;
  font-size: 18px;
  line-height: 19px;
  color: #222222;
}
.wrap__reg_input {
  outline: none;
  border: 1px solid #A4A4A4;
  display: block;
  padding: 16px;
  width: 100%;
  opacity: 0.8;
  font-family: Lato, sans-serif;
  margin-top: 20px;
  box-sizing: border-box;
  transition: all 0.1s;
}
.wrap__reg_input::-moz-placeholder {
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #B1B1B1;
}
.wrap__reg_input:-ms-input-placeholder {
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #B1B1B1;
}
.wrap__reg_input::placeholder {
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #B1B1B1;
}
.wrap__reg_input:hover {
  background-color: #F8F3F4;
}
.wrap__reg_input:focus {
  background-color: #e5d3d6;
}
.wrap__reg_text {
  margin-top: 15px;
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #B1B1B1;
}
.wrap__reg_btn {
  margin-top: 39px;
  padding: 16px 29px;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  border: none;
  background-color: #F16D7F;
  cursor: pointer;
  transition: all 0.2s;
}
.wrap__reg_btn:hover {
  background-color: #f38493;
}
.wrap__reg_advant {
  margin-left: 128px;
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.wrap__reg_advant_text {
  margin: 22px 0 21px;
}
.wrap__reg_advant_list {
  display: flex;
  margin-bottom: 24px;
}
.wrap__reg_advant_list::before {
  display: block;
  content: url(../image/check_mark.svg);
  margin-right: 23px;
}

.feedback__gender {
  margin: 31px 0 33px;
  font-family: Lato, sans-serif;
  font-weight: 300;
  line-height: 13px;
  color: #000000;
}
.feedback__gender input,
.feedback__gender label {
  cursor: pointer;
  transition: all 0.2s;
}
.feedback__gender input:hover,
.feedback__gender label:hover {
  transform: scale(1.2);
}

.radio_margin_right {
  margin-right: 20px;
}

.fa-solid {
  margin-left: 20px;
}

@media (max-width: 1000px) {
  .wrap__reg_advant {
    margin-left: 22px;
  }

  .wrap__reg {
    padding: 40px 0 96px;
  }

  .wrap__reg_heading {
    font-size: 16px;
  }

  .wrap__reg_input {
    height: 45px;
  }

  .feedback__gender {
    font-size: 12px;
    line-height: 13px;
  }

  .wrap__reg_advant_h,
.wrap__reg_advant_text,
.wrap__reg_advant_list {
    font-size: 16px;
    line-height: 19px;
  }
}
@media (max-width: 710px) {
  .wrap__reg_feedback {
    width: 300px;
  }
}
@media (max-width: 662px) {
  .wrap__reg_feedback {
    width: 270px;
  }
}
@media (max-width: 610px) {
  .media-610px {
    justify-content: center;
  }

  .wrap__reg {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }

  .wrap__reg_feedback {
    flex-shrink: 1;
    width: 360px;
  }

  .wrap__reg_advant {
    margin-left: 0;
  }
}
.breadcrumbs-list {
  display: flex;
}

.breadcrumbs-item::before {
  content: "/";
  margin-left: 7px;
  margin-right: 3px;
}

.breadcrumbs-item:first-child::before {
  display: none;
}

.breadcrumbs-link {
  font-family: Lato, sans-serif;
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  transition: 0.2s;
}

.breadcrumbs-link--current {
  font-weight: 700;
  color: #F16D7F;
}

.breadcrumbs-link[href]:hover {
  text-decoration: underline;
  color: #F16D7F;
}

.options {
  position: relative;
  margin-top: 40px;
  margin-bottom: 64px;
  display: flex;
  font-family: Lato, sans-serif;
}

.filter {
  background-color: #fff;
  position: absolute;
  top: -13px;
  z-index: 99;
  padding: 13px 16px;
  box-sizing: border-box;
  transition: all 0.2s;
}

.filter_text-main {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  transition: all 0.2s;
}
.filter_text-main:hover {
  color: #EF5B70;
}
.filter_text-main > svg {
  margin-left: 11px;
  transition: all 0.3s;
}
.filter_text-main:hover > svg {
  fill: #EF5B70;
}

.sidebar {
  display: none;
  margin-bottom: 18px;
  transition: all 0.3s;
}
.sidebar:last-child {
  margin-bottom: 0;
}
.sidebar__one {
  margin-top: 16px;
  transition: all 0.3s;
}
.sidebar__one_text {
  color: #F16D7F;
  padding: 9px 11px;
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  color: #F16D7F;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
}
.sidebar__one__list {
  display: none;
  margin-top: 24px;
  padding-left: 11px;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  transition: all 0.3s;
}
.sidebar__one_item {
  margin-bottom: 11px;
}
.sidebar__one_item:hover {
  cursor: pointer;
  color: #F16D7F;
}

.active-one {
  width: 360px;
  opacity: 1;
  color: #EF5B70;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.active-two {
  display: block;
  transition: all 0.3s;
}

.color-svg {
  fill: #EF5B70;
}

.sort {
  margin: auto;
}
.sort-list {
  display: flex;
}
.sort-item {
  position: relative;
  display: flex;
  padding-right: 20px;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  cursor: pointer;
}
.sort-item:hover {
  color: #F16D7F;
}
.sort-item__select > summary {
  list-style-type: none;
}
.sort-item__select > summary::after {
  display: inline-block;
  content: url(../image/arrow-bottom.svg);
  margin-left: 10px;
}

.select {
  padding: 7px 30px 7px 9px;
  box-sizing: border-box;
  position: absolute;
  left: -11px;
  top: 23px;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 90;
  font-family: Lato, sans-serif;
  cursor: initial;
}
.select_padd {
  padding: 9px;
}
.select_checkbox {
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
  display: flex;
  align-items: center;
  gap: 9px;
}
.select__num {
  display: flex;
  align-items: center;
  gap: 5px;
}
.select__num > input {
  width: 60px;
}

.active-one {
  width: 360px;
  opacity: 1;
  color: #EF5B70;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.active-two {
  display: block;
  transition: all 0.5s;
}

.color-svg {
  fill: #EF5B70;
}

.color-after {
  color: #F16D7F;
}

.poducts_margin {
  margin: 0;
}

.wrap-flex_img {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #F7E4E2;
  padding-top: 10px;
  box-sizing: border-box;
  height: 420px;
  transition: 0.3s;
}

.products__box_item:hover .wrap-flex_img {
  filter: brightness(0.6);
  opacity: 0.5;
}

.pagination {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 48px;
  padding: 15px 16px;
  border: 1px solid #EBEBEB;
  border-radius: 7px;
}

.pagination-list {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.pagination-link {
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}
.pagination-link_page {
  color: #C4C4C4;
}
.pagination-link_page:hover {
  color: #F16D7F;
  font-weight: 500;
}
.pagination-link--current {
  pointer-events: none;
  color: #F16D7F;
}

.pagination-item:first-child::before {
  cursor: pointer;
  content: url(../image/pag_arrow-left.svg);
}

.pagination-item:last-child::before {
  cursor: pointer;
  content: url(../image/pag_arrow-right.svg);
}

@media (max-width: 500px) {
  .second-header {
    flex-flow: wrap column;
    gap: 32px;
  }
}
.product {
  background: #F7F7F7;
  display: flex;
  align-items: center;
  outline: 1px solid #EAEAEA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.product__card {
  height: 777px;
}
.product__img {
  display: block;
  margin: 0 auto;
}
.product__arrow {
  border: 0;
  padding: 0;
  width: 47px;
  height: 47px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: absolute;
  background-color: lightgray;
  cursor: pointer;
  transition: all 0.2s;
}
.product__arrow > i {
  font-size: 22px;
}
.product__arrow:hover {
  transform: translateX(-3px) scaleX(0.9);
  color: #F16D7F;
}
.product__arrow_left {
  border-radius: 0 3px 3px 0;
  left: 0;
}
.product__arrow_right {
  border-radius: 3px 0 0 3px;
  right: -1px;
}
.product__arrow_right:hover {
  transform: translateX(3px) scaleX(0.9);
}

.info-product {
  position: relative;
  z-index: 1;
  margin-top: -65px;
  padding: 64.5px 250px;
  box-sizing: border-box;
  text-align: center;
  font-family: Lato, sans-serif;
  outline: 1px solid #e7e7e7;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.info-product__collection-h {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}
.info-product__collection-h::after {
  content: "";
  margin: 12px auto;
  display: block;
  background-color: #F16D7F;
  width: 63px;
  height: 3px;
}
.info-product__name {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
}
.info-product__text {
  margin-top: 48px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5E5E5E;
}
.info-product__price {
  margin-top: 32px;
  color: #F16D7F;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}
.info-product__rule {
  margin: 64.5px 0;
  height: 1px;
  border: 0;
  background-color: #EAEAEA;
}
.info-product__select {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}
.info-product_btn {
  margin: 48px auto 0;
  padding: 13px 50px 9px 24px;
  display: flex;
  align-items: flex-start;
  gap: 23px;
  border: 1px solid #F26376;
  box-sizing: border-box;
  color: #F26376;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  font-family: Lato, sans-serif;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.info-product_btn:hover {
  border-radius: 3px;
  border-color: transparent;
  box-shadow: 0 0 10px;
}
.info-product_btn:active {
  transition: all 0.1s;
  box-shadow: 0 0 3px;
}

.products__box_marg {
  margin: 128px 0;
}

.cart-box {
  margin: 96px auto 128px;
  display: flex;
  justify-content: space-between;
}
.cart-box__items {
  display: flex;
  flex-flow: column;
  gap: 40px;
}
.cart-box__item {
  position: relative;
  width: 652px;
  display: flex;
  border-radius: 5px 0 5px 5px;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}
.cart-box__item-info {
  padding: 22px 31px;
}
.cart-box__link {
  height: 306px;
  border-radius: 5px 0 0 5px;
  background-color: #EAEAEA;
}
.cart-box__link > img {
  height: 100%;
  border-radius: 5px 0 0 5px;
  transition: all 0.2s;
}
.cart-box__link:hover > img {
  filter: blur(3px);
}
.cart-box .box-link {
  width: 263px;
  display: flex;
  justify-content: center;
  background-color: #F3EEEF;
}

.item-name {
  margin-bottom: 42px;
  font-family: Lato, sans-serif;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
}

.crest_size > img {
  width: 18px;
}

.item-text {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 6px;
  font-family: Lato, sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}
.item-text__price {
  color: #F16D7F;
}
.item-text__color {
  padding: 0 3px;
  color: blue;
  border-radius: 5px;
}
.item-text__color_red {
  color: red;
}
.item-text__number-box {
  position: relative;
  margin-left: 24px;
  min-width: 44px;
  padding: 2px 17px;
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
  border-radius: 1px;
  overflow: hidden;
}
.item-text__number-box > input {
  position: absolute;
  width: 35px;
  left: 11px;
  border: none;
  background-color: transparent;
  font-size: 18px;
  line-height: 22px;
  outline: none;
  color: #656565;
}

.buttons-box {
  margin-top: 42px;
  display: flex;
  justify-content: space-between;
}

.btn {
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  padding: 16px 40px;
  cursor: pointer;
  border: 1px solid #A4A4A4;
  border-radius: 3px;
  background-color: #fff;
  transition: all 0.2s;
}
.btn:hover {
  background-color: #ff9d9d;
  color: #FBFBFB;
  border: none;
}

.form-cart {
  margin-top: 17px;
  width: 360px;
}
.form-cart__h {
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}
.form-cart_input {
  width: 100%;
  padding: 13px 17px 16px;
  border: 1px solid #A4A4A4;
  outline: none;
  margin-top: 20px;
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  transition: all 0.1s;
}
.form-cart_input:hover {
  background-color: #F8F3F4;
}
.form-cart_input:focus {
  background-color: #e5d3d6;
}
.form-cart_input::-moz-placeholder {
  font-family: Lato, sans-serif;
  color: #B1B1B1;
}
.form-cart_input:-ms-input-placeholder {
  font-family: Lato, sans-serif;
  color: #B1B1B1;
}
.form-cart_input::placeholder {
  font-family: Lato, sans-serif;
  color: #B1B1B1;
}

.btn-get {
  margin-top: 23px;
  padding: 9px 14px 11px;
  background-color: #fff;
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  border: 1px solid #A4A4A4;
  transition: all 0.2s;
  cursor: pointer;
}
.btn-get:hover {
  background-color: #ff9d9d;
  color: #FBFBFB;
  border: 1px solid #ff9d9d;
}

.total {
  margin-top: 57px;
  padding: 39px 43px 42px;
  background-color: #F5F3F3;
  text-align: right;
}
.total-sub {
  margin-left: 7px;
  margin-bottom: 12px;
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}
.total-grand {
  margin-bottom: 21px;
  margin-left: 4px;
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}
.total-grand > .price {
  font-weight: 700;
}
.total > hr {
  margin: 0 0 17px;
  border: 1px solid #E2E2E2;
}
.total__btn {
  font-family: Lato, sans-serif;
  width: 100%;
  padding: 15px 24px 16px;
  background-color: #F16D7F;
  color: white;
  border: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  transition: all 0.2s;
}
.total__btn:hover {
  background-color: #ff9d9d;
}

.price {
  margin-left: 26px;
}

@media (min-width: 1400px) {
  .banner__video {
    width: 100%;
  }
}
@media (max-width: 1190px) {
  .wrap {
    max-width: 100%;
    padding-left: 32px;
    padding-right: 32px;
  }
  .wrap_small {
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }

  .products__box {
    gap: 30px;
    justify-content: center;
  }
}
@media (max-width: 1000px) {
  .banner {
    height: 367px;
  }
  .banner__box_img {
    margin-left: 78px;
  }
  .banner__box__slogan {
    margin-top: 146px;
    margin-right: 10px;
  }
  .banner__box__slogan_text {
    font-size: 44px;
    line-height: 32px;
  }
  .banner__box__slogan_text--small {
    font-size: 24px;
    line-height: 29px;
  }

  .banner__video {
    margin: 0;
    left: -920px;
    top: -200px;
  }

  .offers {
    margin: 40px auto 124px;
  }

  .advantages {
    margin-top: 64px;
    padding: 48px 0 64px;
    background-color: #222224;
    font-family: Lato, sans-serif;
  }
  .advantages__box {
    display: flex;
    gap: 48px;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .products__box_item_link {
    pointer-events: none;
  }

  .products__box_item_h {
    pointer-events: all;
  }
  .products__box_item_h::after {
    content: "<<<<<";
  }
  .products__box_item_h::before {
    content: ">>>>>";
  }

  .products__box {
    margin: 70px 0 32px;
  }

  .advant__item {
    width: 360px;
  }

  .feedback {
    padding: 64px 0 140px;
  }
  .feedback-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .subscribe {
    margin-top: 70px;
    margin-right: 0;
  }
}
@media (max-width: 755px) {
  .products__box {
    margin: 48px 0;
    align-items: center;
  }
}
@media (max-width: 655px) {
  .banner__box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner__box_img {
    display: none;
  }
  .banner__box__slogan {
    margin: 0;
  }
  .banner__box__slogan-elem {
    margin-right: 15px;
    height: 75%;
  }
  .banner__box__slogan_text {
    font-size: 38px;
  }
  .banner__box__slogan_text--small {
    font-size: 20px;
    line-height: 24px;
  }

  .banner__video {
    right: -448px;
    top: -429px;
  }

  .nav__main__box__search_input {
    display: none;
  }

  .visnot-phone {
    display: none !important;
  }

  .menu__burg_main-icon {
    display: flex;
  }

  .offers {
    margin: 64px auto 34px;
    display: flex;
    flex-wrap: wrap;
  }
  .offers__block {
    margin-right: 0px;
    flex: 1 1 100%;
    margin-bottom: 33px;
  }
  .offers__block_row {
    position: absolute;
    font-family: Lato, sans-serif;
    text-decoration: none;
    text-align: center;
  }
  .offers__block .offers__block_last-img {
    display: none;
  }
  .offers__block:last-child {
    height: 111px;
    background-image: url(../image/offers_accesories.jpg);
    background-size: cover;
    background-position: center;
  }

  .products__box {
    margin: 60px 0 40px;
  }
  .products__box_item:hover .products__box_item_text {
    word-spacing: 4px;
  }

  .advantages {
    margin-top: 90px;
    padding-bottom: 80px;
  }

  .feedback {
    padding-bottom: 109px;
  }
}
@media (max-width: 515px) {
  .author_text {
    font-size: 18px;
    line-height: 22px;
  }

  .subscribe {
    width: 310px;
  }

  .subscribe_text {
    font-size: 14px;
    line-height: 153.2%;
  }

  .footer {
    padding: 43px 0 12px;
  }

  .footer-box {
    flex-direction: column-reverse;
    align-items: center;
  }

  .media {
    margin-bottom: 40px;
  }
}
@media (max-width: 425px) {
  .menu__burg {
    right: 100%;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.85);
  }

  .menu__burg_exit {
    display: none;
  }

  .burg_mh {
    text-align: center;
  }

  .menu__burg_nav {
    padding: 2.5px 0;
    margin-bottom: 20px;
    box-shadow: 1px 3px 10px #e5a8bc;
    border-radius: 5px;
    background-color: rgba(255, 242, 246, 0.849);
  }

  .burg_h--link {
    margin: 0 auto;
  }
  .burg_h--link:hover + ol > li {
    background-color: inherit;
    box-shadow: inherit;
  }

  .burg__li {
    text-align: center;
  }
  .burg__li > li {
    padding: 0;
  }
  .burg__li > li:last-child {
    margin-bottom: 0;
  }
  .burg__li > li:hover {
    box-shadow: inherit;
  }
  .burg__li > li:hover a {
    transform: initial;
  }
  .burg__li > li > a:hover {
    color: #F16D7F;
  }

  .burg_mh, .burg_h, .burg__li > li > a {
    font-family: Lato, sans-serif;
    font-size: 17px;
    line-height: 17px;
  }

  .active {
    right: 0px;
  }
}
@media (max-width: 390px) {
  .products__box_item {
    width: 100%;
  }

  .products__box_item_h {
    box-sizing: border-box;
  }
  .products__box_item_h::after {
    right: 7px;
    content: "<<<";
  }
  .products__box_item_h::before {
    left: 7px;
    content: ">>>";
  }

  .products__box_item:hover .products__box_item_h {
    width: 100%;
    padding: 0;
    padding-left: 25%;
  }

  .wrap-flex > img {
    width: 100%;
  }

  .advant__item {
    width: 100%;
  }

  .author_text {
    width: 100%;
  }

  .subscribe {
    width: 280px;
  }
}
@media (max-width: 325px) {
  .banner__box__slogan_text {
    line-height: inherit;
  }

  .banner__box__slogan-elem {
    height: 110%;
  }
}/*# sourceMappingURL=style.css.map */