%catRadiUS {
    //my style 
    border-radius: 3px;
}

@mixin font {
    font-family: Lato, sans-serif;
}

$MainColor: #222224;
$MainPink :#F16D7F;
$TextWhite: #FBFBFB;
;

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex-grow: 1;
}

.wrap {
    max-width: 1140px;
    margin: 0 auto;
}

.nav__main {
    height: 75px;
    background-color: $MainColor;

    &__box {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__left {
            display: flex;

            &>li {
                margin-right: 41px;
                display: flex;
                align-items: flex-end;
            }
        }

        &__right {
            display: flex;

            &>li {
                margin-left: 33px;
                display: flex;
                align-items: flex-end;
            }
        }

    }
}

.nav__menu {
    position: relative;
    bottom: -14px;
    padding-bottom: 14px;

    &:hover {
        .nav__menu__burg {
            display: block;
        }
    }

    &__burg {
        @extend %catRadiUS;
        display: none;
        width: 232px;
        position: absolute;
        top: 38px;
        left: -52px;
        padding: (35px - 12px) 34px;
        box-sizing: border-box;
        background: #FFFFFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);

        &::before {
            content: "";
            display: block;
            background: white;
            position: absolute;
            width: 10px;
            height: 10px;
            top: -5px;
            left: 63px;
            transform: rotate(45deg);
        }

        &>a {
            float: right;
        }
    }
}

%option-burg-text {
    @include font;
    font-size: 14px;
    line-height: 17px;
}

.burg_mh {
    clear: both;
    margin-bottom: 24px;
    font-weight: 700;
    @extend %option-burg-text;
}

.burg_h {
    margin-bottom: 12px;
    font-weight: 400;
    color: $MainPink;
    @extend %option-burg-text;
}

.burg__li {

    &>li {
        margin-bottom: 11px;
        padding-left: 20px;

        &>a {
            font-weight: 400;
            color: #6F6E6E;
            @extend %option-burg-text;
            text-decoration: none;

            &:hover {
                color: $MainPink;
                transition: 0.2s;
            }
        }

        &:last-child {
            margin-bottom: 20px;
        }
    }

}

.banner {
    height: 764px;
    background-color: #F1E4E6;

    &__box {
        height: inherit;
        display: flex;
        justify-content: space-between;

        &>img {
            margin-right: 20px; //Адаптивное прижатие (отступ)
        }

        &__slogan {
            height: 92px;
            margin-top: 290px;
            margin-right: 100px;
            display: flex;
            align-items: center;

            &-elem {
                margin-right: 16px;
                width: 12px;
                height: 100%;
                background-color: #F16D7F;
            }

            &_text {
                width: 377px;
                @include font;
                color: #222222;
                line-height: 38px;
            }
        }
    }
}

.THE-BRAND {
    font-weight: 900;
    font-size: 46px;
    line-height: 58px;
}

.OF-LUXERIOUS-FASHION {
    font-weight: 700;
    font-size: 32px;
}

.FASHION {
    color: $MainPink;
}

.offers {
    margin: 65px auto (96px - 30px);
    display: flex;
    flex-wrap: wrap;

    &__block {
        @extend %catRadiUS;
        position: relative;
        margin-right: 30px;
        flex: 1 1 25%;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:last-child,
        &:nth-child(3) {
            margin-right: 0px
        }

        &>img {
            width: 100%;
            @extend %catRadiUS;
        }

        &_row {
            position: absolute;
            @include font;
            text-decoration: none;
            text-align: center;

            &_text {
                font-weight: 400;
                font-size: 16px;
                color: #FFFFFF;
                line-height: 19px;
            }

            &_h {
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                color: $MainPink;
            }
        }
    }
}

.description {
    padding: 103px 0;
    background-color: $MainColor;
    @include font;

    &__box {
        display: flex;
        text-align: center;
    }
}

.desc__item {
    &>img {
        width: 48px;
        height: 48px;
    }
}

.desc__item_h {
    padding: 19px 0 16px;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: $TextWhite;
}

.desc__item_text {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    color: $TextWhite;
}

$Padding-top-info__bottom: 97px;

.info__bottom {
    padding: $Padding-top-info__bottom 0 155px;
    background-image: url(../image/beach.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;

    &-box {
        display: flex;
        justify-content: space-between;
    }
}

.author {
    @include font();
    text-align: center;
}

.author_text {
    width: 360px;
    padding-top: 30px;
    display: block;
    font-weight: 400px;
    font-size: 20px;
    line-height: 24px;
    color: $MainColor;

    &>em {
        font-style: italic;
    }
}

.subscribe {
    margin-top: 150px - $Padding-top-info__bottom;
    width: 356px;
    @include font();
    color: $MainColor;
    line-height: 167.2%;
    text-align: center;

    &_h {
        font-weight: 700;
        font-size: 24px;
    }

    &_text {
        margin-bottom: 32px;
        font-weight: 400;
        font-size: 18px;
    }

    &-box {
        @include font();
        height: 49px;
        display: flex;
        line-height: 17px;
        font-weight: 400;

        &>button {
            cursor: pointer;
            width: 100px;
            background-color: $MainPink;
            color: $TextWhite;
            box-sizing: border-box;
            border-radius: 0 20px 20px 0;
            border-color: transparent;
            text-align: center;

            &:hover {
                box-shadow: 5px 3px 3px #7c313bc4,
                    4px -3px 3px #7c313bc4;
                transition: 0.2s;
                transform: scale(1.05);
            }
        }

    }

    &_input {
        padding-left: 22px;
        width: 256px;
        background: #E1E1E1;
        border-radius: 20px 0 0 20px;
        font-size: 14px;
        opacity: 0.7;
        border-color: transparent;
        outline: none;
        box-sizing: border-box;

        &:hover {
            box-shadow: inset 6px 4px 3px rgb(134, 66, 66);
            transition: 0.2s;
        }

        &:hover::placeholder {
            color: transparent;
            text-shadow: 5px 3px 1px #7c313bc4;
            transition: 0.2s;
        }
    }


}

.footer {
    padding: 30px 0;
    background-color: $MainColor;

    &-box {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &_text {
        @include font();
        color: $TextWhite;
    }
}

.media {
    display: flex;

    &_icon {
        width: 30px;
        height: 30px;
        background-color: $TextWhite;
        margin-left: 7.3px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: $MainPink;
            transition: 0.3s;
        }
    }
}