@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&display=swap');
@import 'reset';

$MainColor: #222224;
$MainPink :#F16D7F;
$TextWhite: #FBFBFB;
$Header-Pink: #F8F3F4;

%catRadiUS {
    border-radius: 3px;
}

@mixin font {
    font-family: Lato, sans-serif;
}

html,
body {
    height: 100%;
}

*::selection {
    background-color: lighten($MainPink, 10);
    color: white;
}

body {
    outline: none;
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex-grow: 1;
}

.wrap {
    max-width: 1140px;
    margin: 0 auto;
}

.nav__main {
    position: fixed;
    width: 100%;
    z-index: 100;
    height: 75px;
    background-color: $MainColor;

    &__box {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;

        &__left {
            display: flex;

            &>li {
                margin-right: 41px;
                display: flex;
                align-items: flex-end;
            }
        }

        &__search {

            &_input {
                @include font();
                font-size: 18px;
                opacity: 0;
                margin-left: 10px;
                padding: 10px;
                height: 30px;
                width: 160px;
                border-radius: 5px;
                border: none;
                outline: none;
                background-color: white;
                transition: 0.2s;
            }

            &:hover &_input {
                opacity: 1;
            }
        }

        &__right {
            display: flex;

            &>li {
                margin-left: 33px;
                display: flex;
                align-items: flex-end;
            }
        }

    }

    &_reg-icon:hover svg {
        fill: $MainPink;
    }
}

.icon-logo {
    transition: all 1s ease;

    &:hover {
        transform: rotate(360deg);
    }
}

.nav__menu {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.menu__burg {
    height: 764px;
    width: 232px;
    position: fixed;
    z-index: 999;
    top: 75px;
    right: -233px;
    padding: 37px 34px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    border-radius: 0 0 0 10px;
    transition: all 0.8s;

    &_crest {
        padding: 0;
        border: 0;
        height: 13px;
        background-color: transparent;
        position: absolute;
        cursor: pointer;
        top: 16px;
        right: 16px;
    }

    &_main-icon {
        display: none;
        margin-bottom: 10px;
        flex-wrap: wrap;
        row-gap: 10px;
        justify-content: space-between;

        & svg {
            fill: #6F6E6E;
        }

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: $MainPink;
        }
    }
}

.active {
    right: 0px;
}

%option-burg-text {
    @include font();
    font-size: 14px;
    line-height: 17px;
}

.burg_mh {
    margin-bottom: 24px;
    font-weight: 700;
    @extend %option-burg-text;
}

.burg_h {
    margin-bottom: 12px;
    font-weight: 400;
    color: $MainPink;
    @extend %option-burg-text;
    transition: all 0.5s;

    &:hover {
        padding-left: 5px;
        padding-right: 5px;
        border-left: 3px solid lighten($MainPink, 8);
        border-right: 3px solid lighten($MainPink, 8);
        letter-spacing: 1px;
    }

    &--link {
        display: block;
        width: max-content;
        text-decoration: none;

        &:hover+ol>li {
            box-shadow: 0 3px rgb(255, 217, 217);
        }
    }
}

.burg__li {

    &>li {
        margin-bottom: 11px;
        padding-left: 20px;
        border-radius: 4px;
        transition: all 1s;

        &:hover {
            box-shadow: 0 3px rgb(255, 217, 217);

            & a {
                transform: translate(10px);
                color: rgb(71, 63, 73);
                letter-spacing: 1px;
            }
        }

        &>a {
            display: block;
            font-weight: 400;
            color: #6F6E6E;
            @extend %option-burg-text;
            text-decoration: none;
            transition: all 0.2s, transform .6s;
        }

        &:last-child {
            margin-bottom: 20px;
        }
    }

}

.banner {
    margin-top: 75px;
    overflow: hidden;
    position: relative;
    height: 764px;
    // background-color: #F1E4E6;

    &__video {
        outline: none;
        margin: auto;
        position: absolute;
        z-index: -9999;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
    }

    &__box {
        height: 100%;
        display: flex;
        justify-content: space-between;

        &_img {
            height: 100%;
        }

        &__slogan {
            height: 92px;
            margin-top: 290px;
            margin-right: 100px;
            display: flex;
            align-items: center;

            &-elem {
                margin-right: 16px;
                width: 12px;
                height: 100%;
                background-color: #F16D7F;
            }

            &_text {
                @include font();
                color: #222222;
                line-height: 38px;
                font-weight: 900;
                font-size: 46px;

                &--small {
                    font-weight: 700;
                    font-size: 32px;
                }

                &--pink {
                    color: $MainPink;
                }
            }
        }
    }
}

$Quantity-offers__block: 4;

.offers {
    margin: 65px auto (96px - 30px);
    display: flex;
    flex-wrap: wrap;

    &__block {
        @extend %catRadiUS;
        position: relative;
        margin-right: 30px;
        flex: 1 1 (100% / $Quantity-offers__block);
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #C4C4C4;
        transition: all 0.3s;

        &:hover {
            transform: scale(1.01);
        }

        &:last-child,
        &:nth-child(3) {
            margin-right: 0px
        }

        &>img {
            width: 100%;
            @extend %catRadiUS;
        }

        &_row {
            position: absolute;
            @include font();
            text-decoration: none;
            text-align: center;

            &_text {
                font-weight: 400;
                font-size: 16px;
                color: #FFFFFF;
                line-height: 19px;
            }

            &_h {
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                color: $MainPink;
            }
        }
    }
}

.products {
    &__description {
        @include font();
        text-align: center;
        font-weight: 400;

        &__h {
            margin-bottom: 6px;
            color: $MainColor;
            font-size: 30px;
            line-height: 36px;
        }

        &__text {
            font-size: 14px;
            line-height: 17px;
            color: #9F9F9F;
        }
    }

    &__box {
        margin: 48px 0;
        display: flex;
        justify-content: space-between;
        row-gap: 30px;
        flex-wrap: wrap;

        &_item {
            position: relative;
            display: flex;
            flex-direction: column;
            @extend %catRadiUS;
            background-color: #F8F8F8;
            width: 360px;
            transition: all 0.3s;

            &:hover {
                transform: scale(1.008);
                box-shadow: 0px 0px 10px #ccc, 0px 0px 10px #ccc;

                & .wrap-flex>img {
                    filter: brightness(0.5);
                    opacity: 0.5;
                    transition: 0.3s;
                }

                & .wrap-flex_btn {
                    opacity: 1;
                }

                & .products__box_item_h {
                    padding: 0 90px;
                    box-shadow: inset 0 0 1px rgb(255, 255, 255), inset 0 0 1px rgb(255, 255, 255);
                    background-color: lighten($MainPink, 20);
                }

                &::before {
                    font-size: 17px;
                    opacity: 1;
                }

                &::after {
                    font-size: 17px;
                    opacity: 1;
                }

                & .products__box_item_text {
                    word-spacing: 8px;
                    padding: 0 5px 0 0;
                    box-shadow: inset 0 0 1px rgb(255, 255, 255), inset 0 0 1px rgb(255, 255, 255);
                    background-color: lighten($MainPink, 25);
                }
            }

            &_description {
                color: initial;
                padding: 25px 16.50px 28px 20px;
                @include font();
                font-weight: 400;
            }

            &_link {
                text-decoration: none;
            }

            &_h {
                position: relative;
                width: max-content;
                border-radius: 3px;
                color: #222222;
                line-height: 16px;
                font-size: 13px;
                line-height: 16px;
                transition: all 1s;

                &::after {
                    opacity: 0;
                    position: absolute;
                    right: 20px;
                    font-size: 1px;
                    content: ">>>>>";
                    color: $TextWhite;
                    @include font();
                    transition: all 2s;
                }

                &::before {
                    opacity: 0;
                    position: absolute;
                    left: 20px;
                    font-size: 1px;
                    content: "<<<<<";
                    color: $TextWhite;
                    @include font();
                    transition: all 2s;
                }
            }

            &_text {
                border-radius: 3px;
                margin: 13px 0 18px;
                font-size: 14px;
                color: #5D5D5D;
                font-weight: 300;
                line-height: 17px;
                transition: all 1s;
            }

            &_price {
                font-size: 16px;
                line-height: 19px;
                color: $MainPink;
            }
        }
    }

    &_bnt {
        padding: 15px 39px;
        margin: 0 auto;
        width: 212px;
        display: block;
        outline: 1px solid #FF6A6A;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        box-sizing: border-box;
        color: #F26376;
        text-decoration: none;
        @include font();
        transition: background-color .3s, color .3s, border-radius 2s;

        &:hover {
            background-color: #FF6A6A;
            color: $TextWhite;
            transform: scale(1.02);
            transition: transform .3s;
            border-radius: 3px;
        }
    }
}

.wrap-flex {
    display: flex;
    border-radius: 4px 4px 0 0;
    background-color: rgba(58, 56, 56, 0.86);
    transition: all .3s;

    &>img {
        border-radius: 3px 3px 0 0;
        transition: all .3s;
    }
}

.wrap-flex_btn {
    position: absolute;
    top: 30%; //FIXME: Оцентрировать более оптимальным  способом.
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    opacity: 0;
    padding: 11.3px 13.5px;
    border: 1px solid white;
    background-color: initial;
    cursor: pointer;
    box-sizing: border-box;
    @include font();
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    transition: all .3s;
    @extend %catRadiUS;

    &:hover {
        background-color: hsla(0, 100%, 86%, 0.199);
        box-shadow: inset 0 0 23px $MainPink;
        transform: scaleX(1.03);
        box-shadow: inset 0 0 7px white;
    }

    &:active {
        background-color: hsla(0, 100%, 86%, 0.199);
        transform: scale(.99);
        box-shadow: inset 0 0 10px $MainPink;
        transition: all .1s;
    }

    &>img {
        margin-right: 11px;
        width: 26px;
        height: 24px;
    }
}

.advantages {
    margin-top: 95px;
    padding: 103px 0;
    background-color: $MainColor;
    @include font();

    &__box {
        display: flex;
        text-align: center;
    }
}

.advant__item--img {
    height: 40px;
}

.advant__item_h {
    padding: 19px 0 16px;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: $TextWhite;
}

.advant__item_text {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    color: $TextWhite;
}

.feedback {
    padding: 97px 0 126px;
    background-color: #F4F4F4;
    background-image: url(../image/beach.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;

    &-box {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}

.author {
    @include font();
    text-align: center;
}

.author_text {
    width: 360px;
    padding-top: 30px;
    display: block;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: $MainColor;

    &>em {
        font-style: italic;
    }
}

.subscribe {
    margin-right: 97px;
    width: 356px;
    @include font();
    color: $MainColor;
    line-height: 167.2%;
    text-align: center;
    align-items: end;

    &_h {
        font-weight: 700;
        font-size: 24px;
    }

    &_text {
        margin-bottom: 32px;
        font-weight: 400;
        font-size: 18px;
    }

    &-box {
        @include font();
        height: 49px;
        display: flex;

        &>button {
            cursor: pointer;
            width: 100px;
            background-color: $MainPink;
            color: $TextWhite;
            border-radius: 0 20px 20px 0;
            border-color: transparent;
            transition: all 0.2s;

            &:hover {
                border-radius: 2px 20px 20px 2px;
                box-shadow: 5px 3px 3px #7c313bc4, 4px -3px 3px #7c313bc4;
                transform: scale(1.05);
            }
        }

    }

    &_input {
        padding-left: 22px;
        width: 256px;
        background: #E1E1E1;
        border-radius: 20px 0 0 20px;
        font-size: 14px;
        opacity: 0.7;
        outline: none;
        border-color: transparent;
        box-sizing: border-box;
        transition: all 0.2s;

        &:hover {
            box-shadow: inset 6px 4px 3px rgb(134, 66, 66);
        }

        &::placeholder {
            @include font();
            transition: 0.2s;
        }

        &:hover::placeholder {
            color: transparent;
            text-shadow: 5px 3px 1px #7c313bc4;
        }
    }
}

.footer {
    padding: 24px 0;
    background-color: $MainColor;

    &-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_copyright {
        @include font();
        color: $TextWhite;
    }
}

.media {
    display: flex;

    &_icon {
        width: 32px;
        height: 32px;
        background-color: $TextWhite;
        margin-left: 7.3px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border-radius: 4px;
        transition: all 0.3s;

        &>svg {
            transition: all 0.3s;
        }

        &:hover {
            background-color: $MainPink;
            fill: #E1E1E1;
        }

        &:hover>svg {
            fill: white;
        }
    }
}

//......................REGISTRATION......................

.second-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_bg {
        margin-top: 75px;
        padding: 60px 0;
        background-color: $Header-Pink;
    }

    &__h {
        @include font();
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: $MainPink;
    }

}

.wrap__reg {
    padding: 64px 0 96px;
    display: flex;

    &_feedback {
        flex-shrink: 0;
        width: 360px;
        @include font();
    }

    &_heading {
        font-weight: 300;
        font-size: 18px;
        line-height: 19px;
        color: #222222;
    }

    &_input {
        @extend %catRadiUS;
        outline: none;
        border: 1px solid #A4A4A4;
        display: block;
        padding: 16px;
        width: 100%;
        opacity: 0.8;
        @include font();
        margin-top: 20px;
        box-sizing: border-box;
        transition: all .1s;

        &::placeholder {
            @include font();
            font-weight: 300;
            font-size: 14px;
            color: #B1B1B1;
        }

        &:hover {
            background-color: $Header-Pink;
        }

        &:focus {
            background-color: darken($Header-Pink, 10);
        }
    }

    &_text {
        margin-top: 15px;
        @include font();
        font-weight: 300;
        font-size: 13px;
        color: #B1B1B1;
    }

    &_btn {
        @extend %catRadiUS;
        margin-top: 39px;
        padding: 16px 29px;
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;
        border: none;
        background-color: $MainPink;
        cursor: pointer;
        transition: all .2s;

        &:hover {
            background-color: lighten($MainPink, 5);
        }
    }

    &_advant {
        margin-left: 128px;
        @include font();
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #000000;

        &_text {
            margin: 22px 0 21px;
        }

        &_list {
            display: flex;
            margin-bottom: 24px;

            &::before {
                display: block;
                content: url(../image/check_mark.svg);
                margin-right: 23px;
            }
        }
    }

}

.feedback__gender {
    margin: 31px 0 33px;
    @include font();
    font-weight: 300;
    line-height: 13px;
    color: #000000;

    input,
    label {
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
            transform: scale(1.2);
        }
    }
}

.radio_margin_right {
    margin-right: 20px;
}

.fa-solid {
    margin-left: 20px;
}

@media (max-width:1000px) {
    .wrap__reg {
        &_advant {
            margin-left: 22px;
        }
    }

    .wrap__reg {
        padding: 40px 0 96px;
    }

    .wrap__reg_heading {
        font-size: 16px;
    }

    .wrap__reg_input {
        height: 45px;
    }

    .feedback__gender {
        font-size: 12px;
        line-height: 13px;
    }

    .wrap__reg_advant_h,
    .wrap__reg_advant_text,
    .wrap__reg_advant_list {
        font-size: 16px;
        line-height: 19px;
    }

}

@media (max-width:710px) {
    .wrap__reg_feedback {
        width: 300px;
    }
}

@media (max-width:662px) {
    .wrap__reg_feedback {
        width: 270px;
    }
}

@media (max-width:610px) {
    .media-610px {
        justify-content: center;
    }

    .wrap__reg {
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }

    .wrap__reg_feedback {
        flex-shrink: 1;
        width: 360px;
    }

    .wrap__reg_advant {
        margin-left: 0;
    }
}

//////////////////////////////REGISTRATION//////////////////////////////

//.....................CATALOG...................

.breadcrumbs-list {
    display: flex;
}

.breadcrumbs-item::before {
    content: '/';
    margin-left: 7px;
    margin-right: 3px;
}

.breadcrumbs-item:first-child::before {
    display: none;
}

.breadcrumbs-link {
    @include font();
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
    transition: 0.2s;
}

.breadcrumbs-link--current {
    font-weight: 700;
    color: #F16D7F;
}

.breadcrumbs-link[href]:hover {
    text-decoration: underline;
    color: #F16D7F;
}

.options {
    position: relative;
    margin-top: 40px;
    margin-bottom: 64px;
    display: flex;
    @include font();
}

.filter {
    background-color: #fff;
    position: absolute;
    top: -13px;
    z-index: 99;
    padding: 13px 16px;
    box-sizing: border-box;
    transition: all 0.2s;
}

.filter_text-main {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        color: #EF5B70;
    }

    &>svg {
        margin-left: 11px;
        transition: all 0.3s;
    }

    &:hover>svg {
        fill: #EF5B70;
    }
}

.sidebar {
    display: none;
    margin-bottom: 18px;
    transition: all 0.3s;

    &:last-child {
        margin-bottom: 0;
    }

    &__one {
        margin-top: 16px;
        transition: all 0.3s;

        &_text {
            color: $MainPink;
            padding: 9px 11px;
            border-left: 5px solid #EF5B70;
            border-bottom: 1px solid #EBEBEB;
            color: $MainPink;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            cursor: pointer;
        }

        &__list {
            display: none;
            margin-top: 24px;
            padding-left: 11px;
            font-size: 14px;
            line-height: 17px;
            color: #6F6E6E;
            transition: all 0.3s;
        }

        &_item {
            margin-bottom: 11px;

            &:hover {
                cursor: pointer;
                color: $MainPink;
            }
        }
    }
}

.active-one {
    width: 360px;
    opacity: 1;
    color: #EF5B70;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.active-two {
    display: block;
    transition: all 0.3s;
}

.color-svg {
    fill: #EF5B70;
}

.sort {
    margin: auto;

    &-list {
        display: flex;
    }

    &-item {
        position: relative;
        display: flex;
        padding-right: 20px;
        align-items: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        cursor: pointer;

        &:hover {
            color: $MainPink;
        }

        &__select>summary {
            list-style-type: none;

            &::after {
                display: inline-block;
                content: url(../image/arrow-bottom.svg);
                margin-left: 10px;
            }
        }

    }
}

.select {
    padding: 7px 30px 7px 9px;
    box-sizing: border-box;
    position: absolute;
    left: -11px;
    top: 23px;
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    z-index: 90;
    @include font();
    cursor: initial;

    &_padd {
        padding: 9px;
    }

    &_checkbox {
        font-size: 14px;
        line-height: 16px;
        color: #6F6E6E;
        display: flex;
        align-items: center;
        gap: 9px;
    }

    &__num {
        display: flex;
        align-items: center;
        gap: 5px;

        &>input {
            width: 60px;
        }
    }
}

.active-one {
    width: 360px;
    opacity: 1;
    color: #EF5B70;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.active-two {
    display: block;
    transition: all 0.5s;
}

.color-svg {
    fill: #EF5B70;
}

.color-after {
    color: $MainPink;
}

.poducts_margin {
    margin: 0;
}

.wrap-flex_img {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #F7E4E2;
    padding-top: 10px;
    box-sizing: border-box;
    height: 420px;
    transition: 0.3s;
}

.products__box_item {
    &:hover .wrap-flex_img {
        filter: brightness(0.6);
        opacity: 0.5;
    }
}

.pagination {
    width: max-content;
    margin-top: 48px;
    padding: 15px 16px;
    border: 1px solid #EBEBEB;
    border-radius: 7px;
}

.pagination-list {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.pagination-link {
    @include font();
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;

    &_page {
        color: #C4C4C4;

        &:hover {
            color: $MainPink;
            font-weight: 500;
        }
    }

    &--current {
        pointer-events: none;
        color: $MainPink;
    }
}

.pagination-item:first-child::before {
    cursor: pointer;
    content: url(../image/pag_arrow-left.svg);
}

.pagination-item:last-child::before {
    cursor: pointer;
    content: url(../image/pag_arrow-right.svg);
}

@media (max-width:500px) {

    .second-header {
        flex-flow: wrap column;
        gap: 32px;
    }
}

/////////////////////////CATALOG////////////////////////////////

//........................PRODUCT.........................

.product {
    background: #F7F7F7;
    display: flex;
    align-items: center;
    outline: 1px solid #EAEAEA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &__card {
        height: 777px;
    }

    &__img {
        display: block;
        margin: 0 auto;
    }

    &__arrow {
        border: 0;
        padding: 0;
        width: 47px;
        height: 47px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        position: absolute;
        background-color: lightgray;
        cursor: pointer;
        transition: all .2s;

        &>i {
            font-size: 22px;
        }

        &:hover {
            transform: translateX(-3px) scaleX(.9);
            color: $MainPink;
        }

        &_left {
            border-radius: 0 3px 3px 0;
            left: 0;
        }

        &_right {
            border-radius: 3px 0 0 3px;
            right: -1px;

            &:hover {
                transform: translateX(3px) scaleX(.9);
            }
        }
    }
}

.info-product {
    position: relative;
    z-index: 1;
    margin-top: -65px;
    padding: 64.5px 250px;
    box-sizing: border-box;
    text-align: center;
    @include font();
    outline: 1px solid #e7e7e7;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &__collection-h {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #F16D7F;

        &::after {
            content: "";
            margin: 12px auto;
            display: block;
            background-color: $MainPink;
            width: 63px;
            height: 3px;
        }
    }

    &__name {
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: #4D4D4D;
    }

    &__text {
        margin-top: 48px;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5E5E5E;
    }

    &__price {
        margin-top: 32px;
        color: $MainPink;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
    }

    &__rule {
        margin: 64.5px 0;
        height: 1px;
        border: 0;
        background-color: #EAEAEA;
    }

    &__select {
        width: max-content;
        margin: 0 auto;
    }

    &_btn {
        //FIXME:  
        margin: 48px auto 0;
        padding: 13px 50px 9px 24px;
        display: flex;
        align-items: flex-start;
        gap: 23px;
        border: 1px solid #F26376;
        box-sizing: border-box;
        color: #F26376;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        @include font();
        background-color: #fff;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            border-radius: 3px;
            border-color: transparent;
            box-shadow: 0 0 10px;
        }

        &:active {
            transition: all .1s;
            box-shadow: 0 0 3px;
        }
    }
}

.products__box_marg {
    margin: 128px 0;
}

///////////////////////////////PRODUCT///////////////////////////

//..............................CART............................

.cart-box {
    margin: 96px auto 128px;
    display: flex;
    justify-content: space-between;

    &__items {
        display: flex;
        flex-flow: column;
        gap: 40px;
    }

    &__item {
        position: relative;
        width: 652px;
        display: flex;
        border-radius: 5px 0 5px 5px;
        box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);

        &-info {
            padding: 22px 31px;
        }

    }

    &__link {
        height: 306px;
        border-radius: 5px 0 0 5px;
        background-color: #EAEAEA;

        &>img {
            height: 100%;
            border-radius: 5px 0 0 5px;
            transition: all .2s;
        }

        &:hover>img {
            filter: blur(3px);
        }
    }

    .box-link {
        width: 263px;
        display: flex;
        justify-content: center;
        background-color: #F3EEEF;
    }
}

.item-name {
    margin-bottom: 42px;
    @include font();
    font-size: 24px;
    line-height: 29px;
    color: #222222;
}

.crest_size {
    &>img {
        width: 18px;
    }
}

.item-text {
    width: max-content;
    margin-top: 6px;
    @include font();
    font-size: 22px;
    line-height: 26px;
    color: #575757;

    &__price {
        color: $MainPink;
    }

    &__color {
        padding: 0 3px;
        color: blue;
        border-radius: 5px;

        &_red {
            color: red;
        }
    }

    &__number-box {
        //FIXME: To fix!
        position: relative;
        margin-left: 24px;
        min-width: 44px;
        padding: 2px 17px;
        border: 1px solid #EAEAEA;
        box-sizing: border-box;
        border-radius: 1px;
        overflow: hidden;

        &>input {
            //FIXME: To fix!
            position: absolute;
            width: 35px;
            left: 11px;
            border: none;
            background-color: transparent;
            font-size: 18px;
            line-height: 22px;
            outline: none;
            color: #656565;
        }
    }


}

.buttons-box {
    margin-top: 72px - 30px; //flex-gap
    display: flex;
    justify-content: space-between;
}

.btn {
    @include font();
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    padding: 16px 40px;
    cursor: pointer;
    border: 1px solid #A4A4A4;
    border-radius: 3px;
    background-color: #fff;
    transition: all .2s;

    &:hover {
        background-color: lighten(#FF6A6A, 10);
        color: $TextWhite;
        border: none;
    }
}

.form-cart {
    margin-top: 17px;
    width: 360px;

    &__h {
        @include font();
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
    }

    &_input {
        width: 100%;
        padding: 13px 17px 16px;
        border: 1px solid #A4A4A4;
        outline: none;
        margin-top: 20px;
        @include font();
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        color: #222222;
        transition: all .1s;

        &:hover {
            background-color: $Header-Pink;
        }

        &:focus {
            background-color: darken($Header-Pink, 10);
        }

        &::placeholder {
            @include font();
            color: #B1B1B1;
        }
    }
}

.btn-get {
    margin-top: 23px;
    padding: 9px 14px 11px;
    background-color: #fff;
    @include font();
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
    border: 1px solid #A4A4A4;
    transition: all .2s;
    cursor: pointer;

    &:hover {
        background-color: lighten(#FF6A6A, 10);
        color: $TextWhite;
        border: 1px solid lighten(#FF6A6A, 10);
    }
}

.total {
    margin-top: 57px;
    padding: 39px 43px 42px;
    background-color: #F5F3F3;
    text-align: right;

    &-sub {
        margin-left: 7px;
        margin-bottom: 12px;
        @include font();
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
        color: #4A4A4A;
    }

    &-grand {
        margin-bottom: 21px;
        margin-left: 4px;
        @include font();
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #222222;

        &>.price {
            font-weight: 700;
        }
    }

    &>hr {
        margin: 0 0 17px;
        border: 1px solid #E2E2E2;
    }

    &__btn {
        @include font();
        width: 100%;
        padding: 15px 24px 16px;
        background-color: $MainPink;
        color: white;
        border: none;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        cursor: pointer;
        transition: all .2s;

        &:hover {
            background-color: #ff9d9d;
        }
    }
}

.price {
    margin-left: 26px;
}

////////////////////////////////CART/////////////////////////////

@media (min-width: 1400px) {
    .banner__video {
        width: 100%;
    }
}

@media (max-width:1190px) {
    .wrap {
        max-width: 100%;
        padding-left: 32px;
        padding-right: 32px;

        &_small {
            max-width: 100%;
            padding-left: 16px;
            padding-right: 16px;
        }
    }

    .products__box {
        gap: 30px;
        justify-content: center;
    }
}

@media (max-width:1000px) {

    .banner {
        height: 367px;

        &__box_img {
            margin-left: 78px;
        }

        &__box__slogan {
            margin-top: 146px;
            margin-right: 10px;
        }

        &__box__slogan_text {
            font-size: 44px;
            line-height: 32px;

            &--small {
                font-size: 24px;
                line-height: 29px;
            }
        }
    }

    .banner__video {
        margin: 0;
        left: -920px;
        top: -200px;
    }

    .offers {
        margin: 40px auto (154px - 30px);
    }

    .advantages {
        margin-top: 64px;
        padding: 48px 0 64px;
        background-color: $MainColor;
        @include font();

        &__box {
            display: flex;
            gap: 48px;
            align-items: center;
            flex-direction: column;
            text-align: center;
        }

    }

    .products__box_item_link {
        pointer-events: none;
    }

    .products__box_item_h {
        pointer-events: all;

        &::after {
            content: "<<<<<";
        }

        &::before {
            content: ">>>>>";
        }
    }

    .products__box {
        margin: 70px 0 32px;
    }

    .advant__item {
        width: 360px;
    }

    .feedback {
        padding: 64px 0 140px;

        &-box {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .subscribe {
        margin-top: 70px;
        margin-right: 0;
    }
}

@media (max-width: 755px) {
    .products__box {
        margin: 48px 0;
        align-items: center;
    }
}

@media (max-width: 655px) {
    .banner {
        &__box {
            display: flex;
            justify-content: center;
            align-items: center;

            &_img {
                display: none;
            }

            &__slogan {
                margin: 0;

                &-elem {
                    margin-right: 15px;
                    height: 75%;
                }

                &_text {
                    font-size: 38px;

                    &--small {
                        font-size: 20px;
                        line-height: 24px;
                    }
                }
            }
        }
    }

    .banner__video {
        right: -448px;
        top: -429px;
    }

    .nav__main__box__search_input {
        display: none;
    }

    .visnot-phone {
        display: none !important;
    }

    .menu__burg_main-icon {
        display: flex;
    }

    $Quantity-offers__block: 4;

    .offers {
        margin: 64px auto (64px - 30px);
        display: flex;
        flex-wrap: wrap;

        &__block {
            margin-right: 0px;
            flex: 1 1 100%;
            margin-bottom: 33px;

            &_row {
                position: absolute;
                @include font();
                text-decoration: none;
                text-align: center;
            }

            .offers__block_last-img {
                display: none;
            }

            &:last-child {
                height: 111px;
                background-image: url(../image/offers_accesories.jpg);
                background-size: cover;
                background-position: center;
            }
        }
    }

    .products__box {
        margin: 60px 0 40px;

        &_item {
            &:hover .products__box_item_text {
                word-spacing: 4px;
            }
        }
    }

    .advantages {
        margin-top: 90px;
        padding-bottom: 80px;
    }

    .feedback {
        padding-bottom: 109px;
    }

}

@media (max-width: 515px) {

    .author_text {
        font-size: 18px;
        line-height: 22px;
    }

    .subscribe {
        width: 310px;
    }

    .subscribe_text {
        font-size: 14px;
        line-height: 153.2%;
    }

    .footer {
        padding: 43px 0 12px;
    }

    .footer-box {
        flex-direction: column-reverse;
        align-items: center;
    }

    .media {
        margin-bottom: 40px;
    }
}

@media (max-width: 425px) {
    .menu__burg {
        right: 100%;
        width: 100%;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.850);
    }

    .menu__burg_exit {
        display: none;
    }

    .burg_mh {
        text-align: center;
    }

    .menu__burg_nav {
        padding: 2.5px 0;
        margin-bottom: 20px;
        box-shadow: 1px 3px 10px #e5a8bc;
        border-radius: 5px;
        background-color: rgba(255, 242, 246, 0.849);
    }

    .burg_h--link {
        margin: 0 auto;

        &:hover+ol>li {
            background-color: inherit;
            box-shadow: inherit;
        }
    }

    .burg__li {
        text-align: center;

        &>li {
            padding: 0;

            &:last-child {
                margin-bottom: 0;
            }

            &:hover {
                box-shadow: inherit;

                & a {
                    transform: initial;
                }
            }

            &>a {
                &:hover {
                    color: $MainPink;
                }
            }
        }
    }

    %option-burg-text {
        @include font();
        font-size: 17px;
        line-height: 17px;
    }

    .active {
        right: 0px;
    }
}

@media (max-width: 390px) {
    .products__box_item {
        width: 100%;
    }

    .products__box_item_h {
        box-sizing: border-box;

        &::after {
            right: 7px;
            content: "<<<";
        }

        &::before {
            left: 7px;
            content: ">>>";
        }
    }

    .products__box_item:hover .products__box_item_h {
        width: 100%;
        padding: 0;
        padding-left: 25%;
    }

    .wrap-flex>img {
        width: 100%;
    }

    .advant__item {
        width: 100%;
    }

    .author_text {
        width: 100%;
    }

    .subscribe {
        width: 280px;
    }
}

@media (max-width: 325px) {
    .banner__box__slogan_text {
        line-height: inherit;
    }

    .banner__box__slogan-elem {
        height: 110%;
    }
}